.padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
header {
    margin-bottom: 3rem;
    h1 {
        text-align: center;
        @extend .padding;
    }
}

#content{
    text-align: center;
    .message {
        margin: 1rem;
    }

    .score {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .players{
        display: inline-block;
        @extend .padding;
        width: 80%;
        &:first-child {
            margin-right: 1rem;
        }
        &:last-child {
            margin-left: 1rem;
        }
        .buttons, p {
            @extend .padding;
        }
        .buttons {
            button {
                width: 7rem;
                height: 3rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
            }
            button.last-child {
                margin-right: 0;
            }
        }
    }
}

#end {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    @extend .padding;
    h1 {
        text-align: center;
    }
    .winner {
        font-size: 1.4rem;
        text-align: center;
        @extend .padding;
    }
    .score{
        text-align: center;
    }
}
#notice{
    @extend .padding;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    p {
        @extend .padding;
    }
    .rules {
        @extend .padding;
        width: 24%;
        margin: 0 auto;
        text-align: left;
        li {
            margin-top: 0.8rem;
        }
    }
}