body {
    background: $background;
    font-family: $muli;
}

header {
    h1 {
        color: white;
        background: #212121;
    }
}

#content {
    .players{
       background: white;
       .buttons {
           button {
               border: none;
               background: $orange;
               font-size: 0.9rem;
               &:hover {
                   background: #8D6E63;
                   color: white;
               }
           }
       }
    }
}
#end {
     background: white;
}
#notice{
    background: white;
    p {
        font-size: 1rem;
    }
    button {
        border: none;
        color: white;
        font-size: 0.8rem;
    }
}