body {
    background: $background;
    font-family: $muli;
}

header {
    h1 {
        color: white;
        background: $grey;
    }
}

#content {
    .players{
       background: white;
       .buttons {
           button {
               border: none;
               background: $orange;
               font-size: 0.9rem;
               &:hover {
                   background: $brown;
                   color: white;
               }
           }
       }
    }
}
#end {
    background: white;
}
#end, #content {
     button {
        border: none;
        font-size: 0.9rem;
        color: white;
        &:hover {
            background: $grey;
            color: white;
        }
    }
}
#notice{
    background: white;
    p {
        font-size: 1rem;
    }
    button {
        border: none;
        color: white;
        font-size: 0.8rem;
        &:hover {
            background: $grey;
            color: white;
        }
    }
}